{% extends "base.html" %} 
{% block title %}My Bookings{% endblock %} 
{% block content %}

<div class="container my-5">
  <h2 class="mb-4">My Bookings</h2>

  {% if bookings %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Event</th>
        <th>Date Booked</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr>
        <td>{{ booking.id }}</td>
        <td>{{ booking.event.title }}</td>
        <td>{{ booking.booked_at|date:"M d, Y H:i" }}</td>
        <td>
          {% if booking.is_paid %}
          <span class="badge bg-success">Paid</span>
          {% else %}
          <span class="badge bg-warning text-dark">Pending</span>
          {% endif %}
        </td>
        <td>
          <a
            href="{% url 'booking_detail' booking.id %}"
            class="btn btn-sm btn-primary"
            >Details</a
          >

          {% if booking.is_paid %}
          <a
            href="{% url 'bookings:download_ticket' booking.id %}"
            class="btn btn-sm btn-success"
            >Download Ticket</a
          >
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You have no bookings yet.</p>
  {% endif %}
</div>
{% endblock %}
